body {
  background-image: url(./144993-black-and-blue-lights-background.jpg);
}

.pagination {
  display: flex;
  width: 100%;
  list-style: none;
  transition: background-color 0.3s;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
