
.card {
  width: 200px;
  border: 1px solid white;
  border-radius: 20px;
  margin: 50px, 20px;
  color: black;
  opacity: 1;
  transition: 0.2s;
  box-shadow: 5px 5px 5px 5px black;
  margin-top: 10px;
}

.flags {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  height: 50%;
  width: 50%;
  justify-items: center;
  align-items: center;
  color: black;
  margin-top: 30px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.card:hover {
  box-shadow: 20px 20px 20px black;
  opacity: 1;
}

.btnMore {
  width: 75px;
  border: 1px solid white;
  border-radius: 20px;
  height: 25px;
  color: rgb(39, 37, 37);
  box-shadow: 5px 5px 5px black;
}

.btnMore:hover {
  box-shadow: 10px 10px 10px black;
  transition: 0.2s ease-in-out;
}
