.form {
  border: 1px solid white;
  margin-left: 35%;
  margin-right: 35%;
  padding-bottom: 40px;
  padding-top: 20px;
  border-radius: 15px;
  box-shadow: 7px 7px 7px 7px black;
  line-height: 1.5;
}

label {
  font-size: 20px;
}

.h2 {
  padding: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
}
input {
  border-radius: 5px;
}

button {
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  margin-top: 20px;
}
